streamlit
pandas
yfinance
plotly
numpy
scipy
requests
openpyxl
statsmodels
scikit-learn
xgboost
groq
python-binance
ccxt
typing_extensions
pydantic
supabase
PyPDF2
python-docx
openpyxl
streamlit-autorefresh
beautifulsoup4
openbb
seaborn
scikit-learn
matplotlib
plotly
psycopg2-binary


mplfinance
