streamlit
pandas
yfinance
plotly
numpy
scipy
requests
openpyxl
statsmodels
scikit-learn
xgboost
numpy
groq
python-binance
ccxt
typing_extensions==4.12.2
pydantic==2.10.3
supabase==2.10.0
PyPDF2
python-docx
openpyxl
